<% form_for([:admin, @realtor]) do |f| %>
  <%= f.error_messages %>
  <p><%= f.label :name %><br />
     <%= f.text_field :name %></p>

  <p><%= f.label :phone_number %><br />
     <%= f.text_field :phone_number %></p>

  <p><%= f.label :cell_number %><br />
     <%= f.text_field :cell_number %></p>

  <p><%= f.label :voicemail_number %><br />
     <%= f.text_field :voicemail_number %></p>

  <p><%= f.label :email %><br />
     <%= f.text_field :email %></p>

  <p><%= f.label :website %><br />
     <%= f.text_field :website %></p>

  <p><%= f.label :bio_link %><br />
     <%= f.text_field :bio_link %></p>

  <p><%= f.label :url_tag %><br />
     <%= f.text_field :url_tag %></p>

  <p><%= f.submit 'Save' %></p>
<% end %>
